.md-slider label{
	width:160px;
	display:block;
	float:left;	
}
.md-slider .button-primary{
	display:block;
	margin:20px 0 0 0;
}
pre{
	background:#f2f2f2;	
	height:40px;
	line-height:40px;
	padding-left:20px;
	color:#444;
	width:100%;
	max-width:500px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:solid 1px #ebebeb;
}